.artistGrid {
  display: flexbox;
  margin-left: 260px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 20px;
  margin-bottom: 20px;
}

.background {
  background: linear-gradient(90deg, #b3f2ef, #5c62bb, #93dfcc);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}